{% extends "layout.html" %}

{% block title %}
    Add Spendings
{% endblock %}

{% block main %}
    <h3>Add New Spendings</h3>

    <form action="/add-spending" method="post">
        
        <div class="mb-3">
            <label for="spending">Amount:</label><br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="spending" name="spending" type="number" min="0" step="any">
            <label for="category">Category:</label><br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="category" name="category" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}